<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Age </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span th:text="${user.id}"> ID </span></td>
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.age}"> Age </span></td>
        </tr>
    </tbody>
</table>
<a th:href="@{/users}"> Back to userlist </a>

</body>
</html>